$navbar-background-color: #fedc3d;

body {
  font-family: 'Nunito', sans-serif;
  color: #000000;
  ////// HEADER
  .navbar {
    background-color: $navbar-background-color;
    .navbar-brand {
      .title {
        font-family: 'Gochi Hand', cursive;
      }
    }
  }
}
