$navbar-background-color: #fedc3d;
$column-gap: 0.5rem;
$section-padding: 0.5rem 0;
$is-info: #01abaa;
$is-warning: #fedc3d;
$red: #fea680 !default;
$navbar-item-hover-color: #ffffff;
$navbar-item-hover-background-color: #01abaa;
$footer-background-color: #fedc3d;
$box-background-color: #fea680;
$box-shadow: 0 2px 3px #fea680, 0 0 0 1px #fea680;

body {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  ////// HEADER
  .azure {
    background-color: #01abaa;
    color: #ffffff;
    border: none;
  }
  .peach {
    background-color: #fea680;
    color: #ffffff;
    border: none;
  }
  .yellow {
    background-color: #fedc3d;
    color: #000000;
    border: none;
  }
  a {
    color: #fea680;
  }
  .field {
    color: #fea680;
  }
  .navbar {
    background-color: $is-warning;
    margin-bottom: 1rem;
    .navbar-brand {
      .title {
        font-family: 'Gochi Hand', cursive;
        padding: 0.25rem 0.5rem;
        font-size: 5rem;
      }
    }
    .navbar-end {
      .navbar-menu {
        .navbar-item {
          .is-hover {
            background-color: $navbar-item-hover-background-color;
            color: $navbar-item-hover-color;
          }
        }
      }
    }
  }
  .columns {
    margin: 0;
    .title {
      color: $is-info;
    }
    .column {
      .is-large {
        margin: 1rem 0;
      }
      .badge {
        opacity: .3;
      }
    }
  }
  .section {
    padding: $section-padding;
    .title {
      margin-left: 0.75rem;
    }
  }
  .box {
    box-shadow: $box-shadow;
    .title {
      color: $is-info;
      margin-left: 0.75rem;
    }
  }
  footer {
    background-color: $footer-background-color;
    padding: 2rem 0;
    margin-top: 4rem;
  }
}
