$navbar-background-color: #fedc3d;
$column-gap: 0.5rem;
$section-padding: 0.5rem 0;

body {
  font-family: 'Nunito', sans-serif;
  color: #000000;
  ////// HEADER
  .azure {
    background-color: #01abaa;
    color: #ffffff;
  }
  .peach {
    background-color: #fea680;
  }
  a {
    color: #01abaa;
  }
  .navbar {
    background-color: $navbar-background-color;
    .navbar-brand {
      .title {
        font-family: 'Gochi Hand', cursive;
      }
    }
  }
  .columns {
    margin: 0;
    .column {
      .is-large {
        margin: 1rem 0;
      }
    }
  }
  .section {
    padding: $section-padding;
  }
}
