<footer div="footer">
  <div class="columns">
    <div class="column is-half">
      <div class="content has-text-centered">
        <p>aficionadu: made with love and hunger by Ellie</p>
      </div>
    </div>
    <div class="column is-half">
      <div class="content has-text-centered">
        <p>© 2018 Ellie Farrer</p>
      </div>
    </div>
  </div>
</footer>
