<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="title is-1" href="/">aficionadu</a>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <a class="navbar-item" href="/restaurants">Explore</a>
      <% if (locals.isLoggedIn) { %>
        <a class="navbar-item" href="/sessions/delete">Log out <%= locals.user.username %></a>
      <% } else { %>
        <a class="navbar-item" href="/sessions/new">Log in</a>
      <% } %>
    </div>
  </div>
</nav>
