<nav class="navbar is-light">
  <div class="navbar-brand">
    <h1 class="title is-1">aficionadu</h1>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <a class="navbar-item" href="#">Explore</a>
    </div>
  </div>
</nav>
