<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="title is-1" href="/">aficionadu</a>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <a class="navbar-item" href="#">Explore</a>
    </div>
  </div>
</nav>
