<nav class="navbar" aria-label="dropdown navigation">
  <div class="navbar-brand">
      <a class="title is-1" href="/restaurants">aficionadu</a>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <% if (locals.currentUser) { %>
        <% if (currentUser.role === 'moderator') { %>
          <a class="navbar-item" href="/moderations">Moderate Comments</a>
        <% } %>
        <% if (currentUser.type === 'restaurant') { %>
          <a class="navbar-item" href="/restaurants/new">Add a Restaurant</a>
        <% } %>
      <% } %>
      <a class="navbar-item" href="/restaurants">Explore</a>

      <% if (locals.isLoggedIn) { %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><img class="image is-rounded" src=<%=locals.currentUser.profilePic %> /></a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/users/<%= locals.currentUser.id %>">Profile</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/sessions/delete">Log out <%= locals.currentUser.username %></a>
          </div>
        </div>
      <% } else { %>
        <a class="navbar-item" href="/sessions/new">Log in</a>
      <% } %>

    </div>
  </div>
</nav>
