<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>aficionadu</title>
    <link rel="icon" href="//localhost:8000/images/favicon-256.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Nunito|Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include ./partials/_header %>
    <div class="container">

      <% for (const type in locals.messages) { %>
        <div class="message is-<%= type %>">
          <div class="message-body">
            <%= messages[type] %>
          </div>
        </div>
      <% } %>

      <%- body %>
    </div>
    <% include ./partials/_footer %>
  </body>
</html>
