<div class="hero">
  <div class="hero-body">
    <div class="has-text-centered">
      <h1 class="title is-1">welcome to aficionadu!</h1>
    </div>
    <div class="container has-text-centered">
      <div class="section">
        <p><a class="button home azure" href="/reviewer-registrations/new"><span class="icon is-small"><i class="fas fa-user-plus"></i></span><span>Sign Up Reviewer</span></a></p>
        <p><a class="button home azure" href="/restaurant-registrations/new"><span class="icon is-small"><i class="fas fa-user-plus"></i></span><span>Sign Up Restaurant</span></a></p>
        <p><a class="button home peach" href="/sessions/new"><span class="icon is-small"><i class="fas fa-sign-in-alt"></i></span><span>Log In</span></a></p>
      </div>
    </div>
  </div>
</div>
  </div>
