<h1 class="subtitle is-1">Log In</h1>

<% if(locals.message) { %>
  <div class="message is-primary">
    <div class="message-body">
      <%= message %>
    </div>
  </div>
<% } %>

<form action="/sessions" method="POST">
  <div class="field">
    <label class="label is-size-5" for="email">Email</label>
    <input class="input" type="email" name="email" id="email">
  </div>
  <div class="field">
    <label class="label is-size-5" for="password">Password</label>
    <input class="input" type="password" name="password" id="password">
  </div>
  <button class="button peach">Log In</button>
</form>
