<h1 class="subtitle is-1">Sign Up Restaurant</h1>

<form action="/restaurant-registrations" method="POST">
  <div class="field">
    <label class="label is-size-5" for="fullName">Full Name</label>
    <div class="control">
      <input class="input" type="text" name="fullName" placeholder="This will appear on your profile">
    </div>
  </div>

  <div class="field">
    <label class="label is-size-5" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" name="username" placeholder="Your restaurant name would do">
    </div>
  </div>

  <div class="field">
    <label class="label is-size-5" for="email">Email</label>
    <div class="control">
      <input class="input" type="email" name="email" placeholder="Make sure this is correct">
    </div>
  </div>

  <div class="field">
    <label class="label is-size-5" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" name="password" placeholder="The stronger, the better">
    </div>
  </div>

  <div class="field">
    <label class="label is-size-5" for="passwordConfirmation">Confirm Password</label>
    <div class="control">
      <input class="input" type="password" name="passwordConfirmation" placeholder="Just to check">
    </div>
  </div>

  <button class="button peach">Sign Up</button>
</form>
