<h1 class="subtitle is-1">Sign Up Restaurant</h1>

<form action="/restaurant-registrations" method="POST">
  <div class="field">
    <label class="label" for="fullName">Full Name</label>
    <div class="control">
      <input class="input" type="text" name="fullName">
    </div>
  </div>

  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>

  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input class="input" type="email" name="email">
    </div>
  </div>

  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>

  <div class="field">
    <label class="label" for="passwordConfirmation">Confirm Password</label>
    <div class="control">
      <input class="input" type="password" name="passwordConfirmation">
    </div>
  </div>

  <button class="button is-primary">Sign Up</button>
</form>
